<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wl3ha">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".user_page.MainPageCategorey"></activity>
        <activity android:name=".user_page.SignUpForArtist" />
        <activity android:name=".artist_page.MainPageForArtist" />
        <activity android:name=".user_page.HelpPage" />
        <activity android:name=".user_page.ChangePassPage" />
        <activity android:name=".user_page.SettingPage" />
        <activity android:name=".user_page.RequestedFriends" />
        <activity android:name=".user_page.SearchForFriends" />
        <activity android:name=".user_page.ProfileFriends" />
        <activity android:name=".user_page.FavoriteArtist" />
        <activity android:name=".user_page.EditMyEvents" />
        <activity android:name=".user_page.MyEventsDetails" />
        <activity android:name=".user_page.MyEvents" />
        <activity android:name=".user_page.ArtistProfile" />
        <activity android:name=".user_page.ArtistList" />
        <activity android:name=".user_page.ArtistPage" />
        <activity android:name=".user_page.HistoryDetails" />
        <activity android:name=".user_page.HistoryEvents" />
        <activity android:name=".user_page.NotificationPage" />
        <activity android:name=".user_page.FriendsLayout" />
        <activity android:name=".user_page.InboxForNormalUsers" />
        <activity android:name=".user_page.BookingHistory" />
        <activity android:name=".user_page.EditPersonalInformationForUsers" />
        <activity android:name=".user_page.UserProfile" />
        <activity android:name=".user_page.CreateAnEvent" />
        <activity android:name=".user_page.EventDetails" />
        <activity android:name=".user_page.MainPageForNormalUsers" />
        <activity android:name=".SignUp" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAmOaBGVcJHfMZJzY7TE1wj3KFkJVYkpkg" />
    </application>

</manifest>